docs/Arkbot - WebUpload UPDATED.json
{
  "_comment": "PERUBAHAN dari WebUpload asli: Code in JavaScript sekarang terima folder_id dari webhook",
  "_changes": [
    "1. Code in JavaScript (folder mapping) - terima folder_id dari webhook, fallback ke default folder",
    "2. Upload file node - folder_id sudah ada dari Code node sebelumnya",
    "3. Tidak ada perubahan lain - workflow tetap sama"
  ],
  "name": "Arkbot - WebUpload (Updated with Folder Support)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "web-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1792, 240],
      "id": "7b3c1fa7-6b16-414b-a491-2e80d0210839",
      "name": "Webhook",
      "webhookId": "f9a2688b-f31b-4f7b-a8fc-7b060e92dc3f"
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://msrcuijuqmfcfbvzlnjc.supabase.co';\nconst SERVICE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zcmN1aWp1cW1mY2ZidnpsbmpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODI4MDM4MCwiZXhwIjoyMDgzODU2MzgwfQ.BbqLOBsuByUbRF8MnfthdXjUkO_ef4GivGJEwqlSLuw';\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${SUPABASE_URL}/rest/v1/process_lock?id=eq.1`,\n  headers: {\n    apikey: SERVICE_KEY,\n    Authorization: `Bearer ${SERVICE_KEY}`\n  }\n});\n\nconst rows = typeof response === 'string' ? JSON.parse(response) : response;\n\nreturn $input.all().map(item => ({\n  json: { ...item.json, is_locked: rows[0].is_locked },\n  binary: item.binary\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1616, 240],
      "id": "a3b9561e-9b97-4177-a189-fa229015924d",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2fb621fc-ddc4-4f96-b38a-20ebf771df79",
              "leftValue": "={{ $json.is_locked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-1488, 240],
      "id": "b0a667d9-7496-45c2-902d-2ed23b24c7d0",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-1328, -48],
      "id": "fa5902e0-f202-403e-bb6e-e1babb291301",
      "name": "Wait",
      "webhookId": "7c668367-5167-4fc9-ab66-4353f10be32a"
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://msrcuijuqmfcfbvzlnjc.supabase.co';\nconst SERVICE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zcmN1aWp1cW1mY2ZidnpsbmpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODI4MDM4MCwiZXhwIjoyMDgzODU2MzgwfQ.BbqLOBsuByUbRF8MnfthdXjUkO_ef4GivGJEwqlSLuw';\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: `${SUPABASE_URL}/rest/v1/process_lock?id=eq.1`,\n  headers: {\n    apikey: SERVICE_KEY,\n    Authorization: `Bearer ${SERVICE_KEY}`,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal'\n  },\n  body: JSON.stringify({ is_locked: true, locked_at: new Date().toISOString() })\n});\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1360, 352],
      "id": "b4f60405-340f-4baa-a669-d1b286dc0027",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "// ===== PERUBAHAN: Terima folder_id dari webhook =====\n// Folder mapping (lama) + dynamic folder_id dari webhook (baru)\n\nconst webhookBody = $('Webhook').item.json.body || {};\nconst folderIdFromRequest = webhookBody.folder_id;\n\nconst folderMap = {\n  'ArkBot - Library (Utama)': '1lKvWCa7FR23qRYL_mBGpQOhs6JI58sxj',\n  // Tambah folder mapping lain di sini jika perlu\n};\n\n// Prioritas: folder_id dari request > folder dari form > default\nlet targetFolderId = '1lKvWCa7FR23qRYL_mBGpQOhs6JI58sxj'; // default: Arkbot Library\n\nif (folderIdFromRequest) {\n  // Jika folder_id dikirim dari website, langsung pakai\n  targetFolderId = folderIdFromRequest;\n} else if (webhookBody.Folder) {\n  // Fallback ke folder mapping (backward compatible)\n  targetFolderId = folderMap[webhookBody.Folder] || targetFolderId;\n}\n\nreturn [{\n  json: {\n    ...$json,\n    targetFolderId: targetFolderId\n  },\n  binary: $binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1232, 304],
      "id": "32c00f19-699e-493d-8f63-7c4139d5800b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "={{ $binary.file.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.targetFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-1120, 304],
      "id": "5928a557-91cf-41dd-8ebc-91a0f960c354",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oKniVbvcRo8IJjd3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}?fields=id,name,modifiedTime",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,modifiedtime"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-1008, 304],
      "id": "7f4bb9ce-c750-41c8-9b9b-8530e4b7d46b",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ttyo9F7yYddN1r6U",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b066fd9b-b6f6-4364-8456-d0103e563114",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9ee69137-24c6-4901-8b2c-1c4cb05eb115",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "59c206c7-b551-46f9-b9d3-a1090b671456",
              "name": "modifiedtime",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-896, 304],
      "id": "9a128a2f-992c-4fa0-b288-2be4ecf6f6f9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "drive_file_sync",
        "filters": {
          "conditions": [
            {
              "keyName": "drive_file_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-784, 304],
      "id": "01611980-0b29-433f-b62a-d17365f6d8c6",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "sSfxHDGpBlknVLPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96164a0f-a96e-43cf-aa18-00d16aafb6e7",
              "name": "sync_action",
              "value": "={{ $json.id ? (new Date($json.last_modified_time).getTime() !== new Date($('HTTP Request').item.json.modifiedTime).getTime() ? 'update' : 'skip') : 'new' }}",
              "type": "string"
            },
            {
              "id": "a4c6a529-b9a0-42be-9f6e-91a7c29b76c3",
              "name": "modifiedTime",
              "value": "={{ $('HTTP Request').item.json.modifiedTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-672, 304],
      "id": "93a81b24-b2d6-4a90-a947-9cfe88dbbc66",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "da0648f4-1094-4d41-b2d0-deff010cc493",
              "leftValue": "={{ $json.sync_action }}",
              "rightValue": "skip",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-560, 304],
      "id": "ddb90fd1-1c9d-491f-8ff8-92883fc6cd35",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "drive_file_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-432, 208],
      "id": "7b367252-6a0c-466b-87f8-9a2db35d66ac",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "sSfxHDGpBlknVLPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.drive_file_id || $('Upload file').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-320, 208],
      "id": "2b7ac212-9b2c-4af0-bad0-75b52307f80d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oKniVbvcRo8IJjd3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\n\nif (!item.binary || !item.binary.data) {\n  throw new Error('Binary data dengan key \"data\" tidak ditemukan. Field yang ada: ' + JSON.stringify(Object.keys(item.binary || {})));\n}\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\n\nreturn {\n  json: {\n    ...item.json,\n    file_base64: base64\n  },\n  binary: item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-208, 208],
      "id": "1dbaf8a5-bf48-4dcb-ac32-364a1b05740b",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e119033d-d7d9-46dc-8b55-f831f4c1a737"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0688a37b-d084-4a63-8f9a-430fddc711a3",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text/markdown",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": ".md"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "475bb67f-93f3-4766-ae61-1aa391d5b218",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": ".docx"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9c1a60d2-ece0-4b8e-a1a3-912d3dabc23c",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": ".xlsx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-96, 208],
      "id": "75f367cf-ae25-4cd2-80a0-0330ce70f496",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-3-flash-preview\",\n  \"temperature\": 0,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Ekstrak seluruh isi dokumen ini secara terstruktur dan lengkap. Ikuti aturan: 1) Jika ada tabel, ekstrak baris per baris dengan format 'Baris N: [nama kolom]-[isi]', jangan gabung antar baris. 2) Tandai heading terpisah dari paragraf biasa. 3) Tanda tangan, cap, atau approval disebut terpisah di bagian akhir, jangan campur ke isi utama. 4) Pertahankan urutan baca alami dokumen dari atas ke bawah, jangan acak antar kolom. 5) Jangan tambahkan interpretasi atau kesimpulan apapun, hanya ekstrak persis apa yang tertulis di dokumen. 6) Jika ada bagian yang tertutup coretan atau tidak terbaca jelas, tandai dengan [tidak terbaca] alih-alih menebak asal-asalan.\"\n        },\n        {\n          \"type\": \"file\",\n          \"file\": {\n            \"filename\": \"document.pdf\",\n            \"file_data\": \"data:application/pdf;base64,{{ $('Code').item.json.file_base64 }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"plugins\": [\n    {\n      \"id\": \"file-parser\",\n      \"pdf\": {\n        \"engine\": \"native\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [368, 160],
      "id": "8c7bf846-1963-4343-9882-6bebfd7d74c4",
      "name": "HTTP Request1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ttyo9F7yYddN1r6U",
          "name": "Google Drive account 2"
        },
        "googlePalmApi": {
          "id": "Givt5ZE999epzLv9",
          "name": "Google Gemini(PaLM) Api account 2"
        },
        "httpHeaderAuth": {
          "id": "GkNuTvzRBHDM6Kzn",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c227d34-01c3-4332-9d7d-c110db272821",
              "name": "text",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "drive_file_id, file_name, text",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [496, 160],
      "id": "0c81aeda-e9a3-4879-b6c0-9838c152bf72",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items\n  .map(item => {\n    const text = item.json.text || '';\n    const cleaned = text.replace(/!\\[.*?\\]\\(data:image\\/[a-zA-Z]+;base64,[^\\)]+\\)/g, '[gambar dihapus]');\n    return {\n      json: {\n        ...item.json,\n        text: cleaned\n      }\n    };\n  })\n  .filter(item => item.json.text.trim().length >= 10);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 160],
      "id": "18dbf459-2c52-4609-a3ea-676f2eb2b4b8",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "460a2a0e-ac35-4877-903b-99342a19f249",
              "leftValue": "={{ $json.text.trim().length > 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [208, 0],
      "id": "03bec965-5a27-4318-852c-54a194922e8e",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nif (!item.binary || !item.binary.data) {\n  throw new Error('No binary data found');\n}\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst base64 = buffer.toString('base64');\nreturn {\n  json: { ...item.json, file_base64: base64 },\n  binary: item.binary\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [32, 272],
      "id": "ba924d6b-ebdd-4caf-b525-3a7283c300fa",
      "name": "Extract from MD"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items\n  .map(item => {\n    const text = item.json.text || '';\n    const cleaned = text.replace(/!\\[.*?\\]\\(data:image\\/[a-zA-Z]+;base64,[^\\)]+\\)/g, '[gambar dihapus]');\n    return {\n      json: {\n        ...item.json,\n        text: cleaned\n      }\n    };\n  })\n  .filter(item => item.json.text.trim().length >= 10);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 272],
      "id": "070dc9db-6af3-493a-bb7e-5fc4231a4279",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {},
      "type": "@mazix/n8n-nodes-converter-documents.convertFileToJson",
      "typeVersion": 5,
      "position": [352, -336],
      "id": "1e1b3529-0fc3-4938-8204-79a24828fa84",
      "name": "Convert File to JSON"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst output = (raw.files && raw.files[0]) ? raw.files[0] : raw;\n\nconst text = output.text || output.content || output.plainText || output.markdown;\nif (text) {\n  return [{ json: { text, metadata: output.metadata || raw.metadata || {} } }];\n}\n\nif (output.sheets) {\n  let md = '';\n  for (const [sheetName, rows] of Object.entries(output.sheets)) {\n    if (!rows.length) continue;\n    const headerSet = new Set();\n    for (const row of rows) {\n      Object.keys(row).forEach(k => headerSet.add(k));\n    }\n    const headers = Array.from(headerSet).sort();\n    md += `## Sheet: ${sheetName}\\n\\n`;\n    md += `| ${headers.join(' | ')} |\\n| ${headers.map(() => '---').join(' | ')} |\\n`;\n    for (const row of rows) {\n      md += `| ${headers.map(h => row[h] ?? '').join(' | ')} |\\n`;\n    }\n    md += '\\n';\n  }\n  return [{ json: { text: md, metadata: output.metadata || raw.metadata || {} } }];\n}\n\nreturn [{ json: { text: JSON.stringify(output), metadata: output.metadata || raw.metadata || {}, _unrecognized_structure: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, -336],
      "id": "69591b40-cea3-424a-b5d3-b8bf47be668a",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c227d34-01c3-4332-9d7d-c110db272821",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [576, -336],
      "id": "84fd737c-0bba-453a-82e5-3325981d9dc1",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [736, 0],
      "id": "959dcdb7-532e-4416-b6c5-81b4ba3086dd",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "sSfxHDGpBlknVLPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "drive_file_id",
                "value": "={{ $('Upload file').item.json.id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Upload file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1040, 176],
      "id": "b69751fe-4fb9-4d25-b932-c74791f42a18",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [880, 176],
      "id": "36f96522-680a-40c8-8896-2056d0cc4f4c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bXoIw81H8sLGSnma",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "drive_file_sync",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "drive_file_id",
              "fieldValue": "={{ $('Edit Fields').item.json.id }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $('Edit Fields').item.json.name }}"
            },
            {
              "fieldId": "last_modified_time",
              "fieldValue": "={{ $json.modifiedTime }}"
            },
            {
              "fieldId": "last_synced_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [48, 448],
      "id": "fb751a7d-8a80-4bff-a3ee-4a74531741cf",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "sSfxHDGpBlknVLPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "drive_file_sync",
        "filters": {
          "conditions": [
            {
              "keyName": "drive_file_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_modified_time",
              "fieldValue": "={{ $json.modifiedTime }}"
            },
            {
              "fieldId": "last_synced_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-64, 544],
      "id": "4133a74e-4970-4c3a-a9b8-51e42d20a95a",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "sSfxHDGpBlknVLPZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1200, 272],
      "id": "7f739853-abef-42d2-b2cf-aa1997188b97",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-432, 480],
      "id": "e2ecb70c-96a4-4430-a760-a565b5766712",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://msrcuijuqmfcfbvzlnjc.supabase.co';\nconst SERVICE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zcmN1aWp1cW1mY2ZidnpsbmpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODI4MDM4MCwiZXhwIjoyMDgzODU2MzgwfQ.BbqLOBsuByUbRF8MnfthdXjUkO_ef4GivGJEwqlSLuw';\n\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: `${SUPABASE_URL}/rest/v1/process_lock?id=eq.1`,\n  headers: {\n    apikey: SERVICE_KEY,\n    Authorization: `Bearer ${SERVICE_KEY}`,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal'\n  },\n  body: JSON.stringify({ is_locked: false })\n});\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1328, 272],
      "id": "dcdee211-cf97-4a03-a0d4-1131ed9c9943",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"file\": $json.file_name } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1536, 272],
      "id": "108783da-88ed-466a-81d8-ddaded012b24",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from MD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert File to JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert File to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from MD": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert File to JSON": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "lhWukRb6iiEXly7r",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
