docs/n8n-folder-manager.json
{
  "name": "Google Drive Folder Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "drive-folder-manager",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "drive-folder-manager"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-list-folders",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_folders",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputIndex": 0
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-create-folder",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_folder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputIndex": 1
            }
          ],
          "fallbackOutput": 2
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/drive/v3/files?q=mimeType%3D'application%2Fvnd.google-apps.folder'%20and%20'{{ $('Webhook').item.json.parent_id || 'root' }}'%20in%20parents&fields=files(id,name,parents)&pageSize=100",
        "authentication": "oAuth2",
        "options": {}
      },
      "id": "http-list-folders",
      "name": "List Folders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 180],
      "credentials": {
        "googleOAuth2Api": {
          "id": "GANTI_DENGAN_ID_CREDENTIAL_GOOGLE_KAMU",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $input.first().json.files || [];\nconst folders = files.map(f => ({\n  id: f.id,\n  name: f.name,\n  parents: f.parents || []\n}));\nreturn [{ json: { folders } }];"
      },
      "id": "code-format-folders",
      "name": "Format Folders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "oAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Webhook').item.json.name }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $('Webhook').item.json.parent_id || 'root' }}\"]\n}",
        "options": {}
      },
      "id": "http-create-folder",
      "name": "Create Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 420],
      "credentials": {
        "googleOAuth2Api": {
          "id": "GANTI_DENGAN_ID_CREDENTIAL_GOOGLE_KAMU",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  id: data.id,\n  name: data.name,\n  parents: data.parents || []\n} }];"
      },
      "id": "code-format-created",
      "name": "Format Created",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-error",
              "leftValue": "={{ $json.error || $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-error",
      "name": "Check Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"{{ $json.error || $json.message || 'Unknown error' }}\"\n}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "List Folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Folders": {
      "main": [
        [
          {
            "node": "Format Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Folders": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Format Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Created": {
      "main": [
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": false
}
